In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")

In [2]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [3]:
data.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [38]:
data.replace({'fuel' : {'Petrol':0,'Diesel':1,'CNG' : 2,'LPG': 3,'Electric':4}}, inplace = True)

In [39]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,0,0,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,0,0,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,0,0,0
3,Datsun RediGO T Option,2017,250000,46000,0,0,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,0,0,1

In [40]:
data.replace({'seller_type' : {'Individual': 0,'Dealer' : 1}},inplace = True )
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,0,0,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,0,0,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,0,0,0
3,Datsun RediGO T Option,2017,250000,46000,0,0,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,0,0,1

In [41]:
data.replace({'transmission' : {'Manual':0,'Automatic':1}},inplace = True)
data.replace({'owner': {'First Owner':0,'Second Owner':1}},inplace = True)
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,0,0,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,0,0,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,0,0,0
3,Datsun RediGO T Option,2017,250000,46000,0,0,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,0,0,1

In [42]:
co = data.corr()
print(co)

                   year  selling_price  km_driven      fuel  transmission
year           1.000000       0.413922  -0.419688  0.090388      0.143800
selling_price  0.413922       1.000000  -0.192289  0.226883      0.530205
km_driven     -0.419688      -0.192289   1.000000  0.274760     -0.120226
fuel           0.090388       0.226883   0.274760  1.000000      0.027507
transmission   0.143800       0.530205  -0.120226  0.027507      1.000000

In [53]:
X = data.drop(['selling_price','name','seller_type','owner'], axis = 1)
Y = data['selling_price']
print(X)

      year  km_driven  fuel  transmission
0     2007      70000     0             0
1     2007      50000     0             0
2     2012     100000     1             0
3     2017      46000     0             0
4     2014     141000     1             0
...    ...        ...   ...           ...
4335  2014      80000     1             0
4336  2014      80000     1             0
4337  2009      83000     0             0
4338  2016      90000     1             0
4339  2016      40000     0             0

[4340 rows x 4 columns]

In [54]:
from sklearn.model_selection import train_test_split 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=42)

In [77]:
print(X_train)

      year  km_driven  fuel  transmission
227   2017      20000     1             0
964   2018      50000     1             0
2045  2013      25000     0             0
1025  2011      70000     1             0
4242  2017      72000     1             0
...    ...        ...   ...           ...
3444  2006      50000     1             0
466   2011      80000     1             0
3092  2016      51000     1             0
3772  2013      80000     1             0
860   2013      80000     0             0

[3472 rows x 4 columns]

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
linear_model = LinearRegression()
linear_model.fit(X_train,Y_train)

LinearRegression()

In [58]:
train_data = linear_model.predict(X_train)

In [59]:
print(train_data)

[716037.28812259 732465.15428238 323766.92238262 ... 648179.40496612
 498565.11759157 277395.59558229]

In [76]:
data1 = [[2017,10000,0,1]]
Y_train = linear_model.predict(data1)
print(Y_train)

[1424999.38211522]